// 友情链接三栏
@media (min-width: 1024px) {
  .article-list--compact.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
    box-shadow: none;
    gap: 1rem;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: var(--card-border-radius);

      &:nth-child(odd) {
        margin-right: 8px;
      }
    }
  }
}

/* 仅保留这段最核心的代码测试 */
.article-post {
    p {
        margin-top: 3em !important;    /* 故意调大间距以便观察 */
        margin-bottom: 3em !important; 
        color: red !important;         /* 故意改颜色以便观察 */
    }
    h2 {
        color: #417D7A !important;
        border-bottom: 2px solid #417D7A;
    }
}