
    <div id="waline"></div>
    <script type="module">
      import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  
      init({
        el: '#waline',
        serverURL: 'https://planetwaline.vercel.app',
        placeholder: "坐，请讲。",
        emoji: [
         'https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-png',
         'https://cdn.jsdelivr.net/gh/Saidosi/azuki-emoji-for-waline@1.0/azukisan',
         'https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-gif',
        ],
        dark: 'html[class="scroll-smooth dark"]',
      });
    </script>

<style>
  .waline-container {
      background-color: transparent;
      border-radius: var(--card-border-radius);
      box-shadow: var(--shadow-l1);
      padding: 2%; /*缩小边距*/
  
  }
  .waline-container .vcount {
      color: var(--card-text-color-main);
  }
  
  :root{
    /* 主题色 */
    --waline-font-size: 1rem ;
    --waline-theme-color: #154c47;
    --waline-active-color: #335c5f;
    --waline-color: #154c47;
    --waline-bg-color: transparent;
    --waline-bgcolor-light: rgba(200, 200, 200, 0.4);
    --waline-border-color: #154c47;
    --waline-disable-bgcolor: #FAF9F7;
    --waline-avatar-size:5rem !important;
    --waline-m-avatar-size:calc(var(--waline-avatar-size)*9/13) !important; 
    --waline-badge-color:rgba(5, 150, 148, 0.425) ;
    --waline-badge-font-size: 0.45em ;
    --waline-info-bgcolor: #f8f8f8 ;
    --waline-info-color:#999 ;
    --waline-info-font-size: 0.625rem ;
    --waline-border: 1px solid var(--waline-border-color);
    --waline-avatar-radius: 50%;
  }

/*夜间模式*/
    html[class="scroll-smooth dark"]{
      --waline-theme-color: #acc6e0;
      --waline-white: #34495e; /*按键字体颜色*/
      --waline-active-color: #335c5f;
      --waline-light-grey: #666;
      --waline-dark-grey: #5c8c88; /*ID颜色*/
      --waline-badge-color: #acc6e0;

      /* 布局颜色 */
      --waline-text-color: rgba(255, 255, 255, 0.7);
      --waline-bgcolor: transparent;
      --waline-bgcolor-light: #66696b;/*行内代码块颜色*/
      --waline-border-color: #5c8c88;
      --waline-disable-bgcolor: #444;
      --waline-disable-color: #272727;

      /* 特殊颜色 */
      --waline-bq-color:  #9B9C9C; /*quote*/

      /* 其他颜色 */
      --waline-info-bgcolor: #acc6e0;
      --waline-info-color: #9B9C9C;
  }

  .comment-waline{
    /*
    margin-top: 40px;
    position:relative;
    float: none;
    display: inline;
    padding: 10px;
    */
    background-color: transparent;
    margin-top: 18px;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
    line-height: 1.8;
  
    /*
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    */
  }
  .comment-underline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 50px;
    border-bottom: 3px solid #f0485388;
  }
  </style>
  